{% include "header.html" %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">My Categories</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>
              <a href="{{ url_for('edit_category', c_id=category.id) }}">Edit</a> / 
              <a href="{{ url_for('delete_category', c_id=category.id) }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>

{% include "footer.html" %}